{% extends 'users/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>  <title>Карта</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/comments.css' %}">
</head>
<body>
{% block content %}
    <div class="map">
        <div id="mapid" style="width: 100vw; height: 100vh;"></div>
    </div>
<script>
	var mymap = L.map('mapid').setView([56.82, 60.6], 12);
	var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXJ0dXJoYTQiLCJhIjoiY2t5MDlieWVpMDB5YjJvcDE0Y3p1a3F3ZyJ9.ak-KvJnYVBeYv9wIqOWCjA', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

    var popup = L.popup();
    {% for point in points %}
        var marker = L.marker(["{{point.latitude}}".replace(',','.'),"{{point.longitude}}".replace(',','.')]).addTo(mymap);
        marker.bindPopup(
            "<p1>Название: {{ point.name }}</p1><br>"+
            '<p1>Адрес: {{ point.address }}</p1><br><p1>Описание: {{ point.description }}</p1><br>'+
            '<p1>Создатель: {{ point.created_by }}</p1><br>'+
            '<form action="/addcomment" method="post">\n' +
            '<div>\n' +
            '<hr>\n' +
            '<div class="point_info">\n'+
            '{% for comment in point.comments.all %}\n'+
                '<div class="comment">\n'+
                '<h3>{{ comment.author}}</h3>\n'+
                '<p>{{ comment.text}}</p>\n'+
                '<div class="date">{{ comment.created_at }}</div>\n'+
                '    </div>\n'+
                '<hr>\n' +
                '{% empty %}\n'+
                '    <p>No comments here yet :(</p>\n'+
                '{% endfor %}'+
            '</div>\n'+
            'Оставьте свой комментарий о точке:\n'+
            '<textarea name="comment" id="comment" required style="font-family:sans-serif;font-size:1.2em;">\n' +
            '</textarea>\n' +
            '<input type="hidden" name="point_id" value={{ point.id }}>\n'+
            '</div>\n' +
            '<input type="submit" value="Submit">\n' +
            '{% csrf_token %}'+
            '</form>\n'
        );
    {% endfor %}
    function getAddress(e) {
            url = 'https://nominatim.openstreetmap.org/reverse?&format=jsonv2&lat='+e.latlng.lat+'&lon='+e.latlng.lng;
            var req = null;
            req = new XMLHttpRequest();
            req.open("GET", url, false);
            req.send(null);
            var data = JSON.parse(req.responseText)
            if(data["address"]["house_number"] == undefined){
                return data["address"]["road"]
            }else if(data["address"]["road"] == undefined){
                return " "
            }else if (data["address"]["house_number"] == undefined && data["address"]["road"] == undefined){
                return " "
            }else
                return  data["address"]["road"]+ ','+ data["address"]["house_number"]
    }

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent(
                        '<div class="text-container">' +
                        '<div class="add-object__title">Добавление объекта</div>' +
                        '<div class="add-object__subtitle">Укажите местоположение объекта, передвигая метку на карте.</div>' +
                        '</div>' +
                        '<form method="POST" action ="addpoint">' +
                        '{% csrf_token %}'+
                        '<div class="form-fields">' +
                        '<div class="form-field form-name">' +
                        '<input type="text" placeholder="Введите название" required name="name">' +
                        '</div>' +
                        '<div class="form-field form-object-address">' +
                        '<input type="text" placeholder="Введите адрес" required name="address" value="'+getAddress(e)+'">' +
                        '</div>' +
                        '<div class="form-field form-category">' +
                        '<select  required name="type">' +
                        '<option value="" disabled selected style="display:none;">Выберите категорию</option>' +
                        '<option value="socket,zpoints"><img src="" alt="socket">Розетка</option>' +
                        '<option value="house,dpoints"><img src="" alt="socket">Достопримечательность</option>' +
                        '</select>' +
                        '        <input type="hidden" name="lat"  value="' + e.latlng.lat.toString().substr(0,9) + '">\n' +
                        '        <input type="hidden" name="lng"  value="' + e.latlng.lng.toString().substr(0,9) + '">\n' +
                        '</div>' +
                        '<label>Добавьте описание: </label>' +
                        '<textarea id="w3review" name="description" rows="4" cols="30">' +
                        '</textarea>' +
                        '<div class="form-field form-button">' +
                        '<input type="submit" class="form-photos__add" value ="Добавить"></input>' +
                        '</form>' +
                        '</div>' +
                        '</div>' +
                        '</div>')
            .openOn(mymap);
    }

    mymap.on('click', onMapClick);

</script>
{% endblock %}
</body>
</html>